#FadePanel {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 3s;
    transition-timing-function: ease-out;
    transition-delay: 1s;
}

#Menu {
    opacity: 1;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.button {
    background-color: rgb(87, 80, 67);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 306px;
    height: 89px;
    font-size: 46px;
    -unity-font-style: bold;
    -unity-font-definition: url("project://database/Packages/com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Fonts/PerfectDOSVGA437.ttf?fileID=12800000&guid=74a5091d8707f334b9a5c31ef71a64ba&type=3#PerfectDOSVGA437");
    border-left-color: rgb(137, 127, 109);
    border-right-color: rgb(137, 127, 109);
    border-top-color: rgb(137, 127, 109);
    border-bottom-color: rgb(137, 127, 109);
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    margin-top: 6px;
    margin-bottom: 56px;
    color: rgb(164, 148, 121);
    -unity-text-outline-color: rgb(58, 48, 48);
    -unity-text-outline-width: 2px;
}

.button:hover {
    scale: 1.1 1.1;
    -unity-text-outline-color: rgba(0, 0, 0, 0);
    -unity-text-outline-width: 0;
    color: rgb(204, 204, 204);
    background-color: rgb(38, 38, 38);
    rotate: -1deg;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.button:active {
    scale: 0.9 0.9;
    transition-duration: 0.1s;
    rotate: 1deg;
    color: rgb(204, 204, 204);
}

.galleryImages {
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    border-bottom-right-radius: 34px;
    border-bottom-left-radius: 34px;
    border-left-color: rgb(132, 132, 132);
    border-right-color: rgb(132, 132, 132);
    border-top-color: rgb(132, 132, 132);
    border-bottom-color: rgb(132, 132, 132);
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
}

.decription {
    color: rgb(176, 176, 176);
    -unity-font-definition: url("project://database/Packages/com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Fonts/PerfectDOSVGA437.ttf?fileID=12800000&guid=74a5091d8707f334b9a5c31ef71a64ba&type=3#PerfectDOSVGA437");
    font-size: 34px;
    padding-top: 56px;
    bottom: 28px;
}

.exitButton {
    background-color: rgb(101, 60, 60);
    color: rgb(164, 112, 112);
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left-color: rgb(53, 35, 35);
    border-right-color: rgb(53, 35, 35);
    border-top-color: rgb(53, 35, 35);
    border-bottom-color: rgb(53, 35, 35);
    -unity-font-definition: url("project://database/Packages/com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Fonts/PerfectDOSVGA437.ttf?fileID=12800000&guid=74a5091d8707f334b9a5c31ef71a64ba&type=3#PerfectDOSVGA437");
    font-size: 27px;
    letter-spacing: 18px;
}

.exitButton:hover {
    scale: 1.05 1.05;
    rotate: -1deg;
    color: rgb(204, 204, 204);
    background-color: rgb(38, 38, 38);
    border-left-color: rgb(22, 22, 22);
    border-right-color: rgb(22, 22, 22);
    border-top-color: rgb(22, 22, 22);
    border-bottom-color: rgb(22, 22, 22);
}

.exitButton:active {
    scale: 0.9 0.9;
    rotate: 1deg;
}

.unity-slider__label {
    color: rgb(180, 180, 180);
    -unity-font-definition: url("project://database/Packages/com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Fonts/PerfectDOSVGA437.ttf?fileID=12800000&guid=74a5091d8707f334b9a5c31ef71a64ba&type=3#PerfectDOSVGA437");
    -unity-text-align: upper-left;
    margin-right: -33px;
}

.unity-base-slider__dragger {
    width: 24px;
    height: 24px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

#unity-text-field {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.unity-progress-bar__progress {
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(127, 189, 202);
    top: -3px;
}

.unity-progress-bar__background {
    flex-shrink: 0;
    height: 30px;
    background-color: rgba(67, 79, 125, 0.22);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left-color: rgba(97, 216, 255, 0.5);
    border-right-color: rgba(97, 216, 255, 0.5);
    border-top-color: rgba(97, 216, 255, 0.5);
    border-bottom-color: rgba(97, 216, 255, 0.5);
}
